div{
    margin-top:10px;
    margin-bottom:10px;
}

.app_div{
    max-width:50%;
    margin: 0 auto;
}

.app_div h1{
    margin-bottom:20px;
    text-align: center;
}

.app_div .btn_container{
    text-align: center;
}

img{
    max-width:100px;
    max-height: 100px;
    border-radius:100px;
}